In [15]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\yis27\anaconda3\lib\site-packages (1.5.12)
Requirement already satisfied: python-dateutil in c:\users\yis27\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: tqdm in c:\users\yis27\anaconda3\lib\site-packages (from kaggle) (4.47.0)
Requirement already satisfied: python-slugify in c:\users\yis27\anaconda3\lib\site-packages (from kaggle) (6.1.2)
Requirement already satisfied: six>=1.10 in c:\users\yis27\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in c:\users\yis27\anaconda3\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: urllib3 in c:\users\yis27\anaconda3\lib\site-packages (from kaggle) (1.25.9)
Requirement already satisfied: certifi in c:\users\yis27\anaconda3\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\yis27\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in c:\users\yis27\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\yis27\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)

In [16]:
import kaggle

In [17]:
from kaggle.api.kaggle_api_extended import KaggleApi

In [18]:
api = KaggleApi()
api.authenticate()

# two kaggle dataset links https://www.kaggle.com/datasets/mohamadalhasan/a-fake-news-dataset-around-the-syrian-war?select=FA-KES-Dataset.csv

# https://www.kaggle.com/datasets/clmentbisaillon/fake-and-real-news-dataset

In [21]:
api.dataset_download_file('clmentbisaillon/fake-and-real-news-dataset',
                             'Fake.csv')
api.dataset_download_file('clmentbisaillon/fake-and-real-news-dataset','True.csv')

False

In [22]:
api.dataset_download_file('mohamadalhasan/a-fake-news-dataset-around-the-syrian-war',
                         'FA-KES-Dataset.csv')

False

# altering the database

In [23]:
import pandas as pd

In [24]:
import zipfile
with zipfile.ZipFile('Fake.csv.zip', 'r') and zipfile.ZipFile('True.csv.zip', 'r') as zip_ref:
    zip_ref.extractall()

In [25]:
df= pd.read_csv('Fake.csv')
df.head()
df_2 = pd.read_csv('True.csv')
df_2.head()
df_2['label']=1
df['label']=0
# zero is fake and one is real

In [26]:
df

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [27]:
df_combine = df.append(df_2)
df_combine.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [28]:
import zipfile
with zipfile.ZipFile('FA-KES-Dataset.csv.zip', 'r') as zip_ref:
    zip_ref.extractall()
df_second_piece=pd.read_csv('FA-KES-Dataset.csv',encoding='unicode_escape')
df_second_piece.head()

,unit_id,article_title,article_content,source,date,location,labels
0,1914947530,Syria attack symptoms consistent with nerve ag...,Wed 05 Apr 2017 Syria attack symptoms consiste...,nna,4/5/2017,idlib,0
1,1914947532,Homs governor says U.S. attack caused deaths b...,Fri 07 Apr 2017 at 0914 Homs governor says U.S...,nna,4/7/2017,homs,0
2,1914947533,Death toll from Aleppo bomb attack at least 112,Sun 16 Apr 2017 Death toll from Aleppo bomb at...,nna,4/16/2017,aleppo,0
3,1914947534,Aleppo bomb blast kills six Syrian state TV,Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...,nna,4/19/2017,aleppo,0
4,1914947535,29 Syria Rebels Dead in Fighting for Key Alepp...,Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...,nna,7/10/2016,aleppo,0

In [37]:
df_final_1 = df_combine[['title','text','label']].copy()
df_final_2 = df_second_piece[['article_title','article_content','labels']].copy()
df_final_1

,title,text,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,0
...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,1

In [39]:
df_combine_final=pd.concat([df_final_1,df_final_2.rename(columns={'labels':'label', 'article_title':'title', 'article_content':'text'})], ignore_index=True)

In [40]:
df_combine_final

,title,text,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,0
...,...,...,...
45697,Turkish Bombardment Kills 20 Civilians in Syria,28-08-2016 Turkish Bombardment Kills 20 Civili...,1
45698,Martyrs as Terrorists Shell Aleppos Salah Eddin,17-08-2016 Martyrs as Terrorists Shell Aleppos...,1
45699,Chemical Attack Kills Five Syrians in Aleppo SANA,03-08-2016 Chemical Attack Kills Five Syrians ...,0
45700,5 Killed as Russian Military Chopper Shot down...,01-08-2016 5 Killed as Russian Military Choppe...,1
45701,Syrian Army Kills 48 ISIL Terrorists in Deir E...,April 6 2017 Syrian Army Kills 48 ISIL Terrori...,1